<!DOCTYPE html>
<html>
<head>
    <title>About us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mystyle.css')}}">
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
    <div class="heading">
        <h1>About Us</h1>
    </div>
    <div class="container">
        <section class ="about">
            <div class="about-image">
                <img src="static\image\about.jpeg">
            </div>
            <div class = "about-content">
            <h2> Improve your spelling</h2>
            <p>We, a group of AI major students, are dedicated to supplying an intelligent and effective spelling correction solution through our project, Spelling Correction. We are working hard to build a valuable product for everyone using our experience and enthusiasm. This is only the beginning of our adventure, and we will always seek feedback from the community in order to build and enhance the project.
            Thank you for your interest and generosity!</p>
            
    </section>
    </div>
<h2 align="center" style="font-size:70px">Our Team</h2> 
<div class ='images' style="display: flex; justify-content: space-between;">
    <div>
        <img src="static\image\pic3.png" alt="pic3" width="150" height="140">
        <p>Nguyễn Đức Trọng</p>
    </div>
    <div>
        <img src="static\image\pic2.png" alt="pic2" width="150" height="140">
        <p>Khưu Minh Toàn</p>
    </div>
    <div>
    <img src="static\image\pic4.png" alt="pic4" width="150" height="140">
    <p>Nguyễn Hồng Ân</p>
    </div>
    <div>
    <img src="static\image\pic5.png" alt="pic5" width="150" height="140">
    <p>Nguyễn Thiên Ân</p>
    </div>
    <div>
    <img src="static\image\pic1.png" alt="pic1" width="150" height="140">
    <p>Nguyễn Hà Phương</p>
    </div>
    <div>
        <img src="static\image\pic6.png" alt="pic1" width="150" height="140">
        <p>Bùi Thanh Phương</p>
        </div>

</div>
</body>
</html>