<!DOCTYPE html>
<html>
<head>
    <title>About us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
    <div class="heading">
        <h1>About Us</h1>
    </div>
    <div class="container">
        <section class ="about">
            <div class="about-image">
                <img src="about.jpeg">
            </div>
            <div class = "about-content">
            <h2> Improve your spelling</h2>
            <p> write description about product</p>
            
    </section>
    </div>
<h2 align="center" style="font-size:70px">Our Team</h2> 









</body>



</html>